<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign in & Sign up Form</title>
  <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
  <main>
    <div class="box">
      <div class="inner-box">
        <div class="forms-wrap">
          <form autocomplete="off" class="sign-in-form" action="/login" method='post'>
            <div class="logo">
              <img src="../static/images/logo.png" alt="easyclass" />
              <!--Change Your Website Title Here-->
              <h4>Movie Booking</h4> 
            </div>

            <div class="heading">
              <h2>Welcome Back</h2>
              <h6>Not registered yet?</h6>
              <a href="#" class="toggle">Sign up</a>
            </div>

            <div class="actual-form">
              <div class="input-wrap">
                <input
                  id="username"
                  name="username"
                  type="text"
                  minlength="4"
                  class="input-field"
                  autocomplete="off"
                  required
                />
                <label>Name</label>
              </div>

              <div class="input-wrap">
                <input
                  id="password"
                  name="password"
                  type="password"
                  minlength="4"
                  class="input-field"
                  autocomplete="off"
                  required
                />
                <label>Password</label>
              </div>

              <input type="submit" value="Sign In" class="sign-btn" />

              <p class="text">
                Forgotten your password or your login details?
                <a href="./Action.html">Get help</a> signing in
              </p>
            </div>
          </form>

          <form autocomplete="off" class="sign-up-form" action="/signup" method='post'>
            <div class="logo">
              <img src="../static/images/logo.png" alt="easyclass" />
              <h4>Movie Booking</h4>
            </div>

            <div class="heading">
              <h2>Get Started</h2>
              <h6>Already have an account?</h6>
              <a href="#" class="toggle">Sign in</a>
            </div>

            <div class="actual-form">
              <div class="input-wrap">
                <input
                        id="signup_name"
                        name="signup_name"
                  type="text"
                  minlength="4"
                  class="input-field"
                  autocomplete="off"
                  required
                />
                <label>Name</label>
              </div>

              <div class="input-wrap">
                <input
                        id="signup_email"
                        name="signup_email"
                  type="email"
                  class="input-field"
                  autocomplete="off"
                  required
                />
                <label>Email</label>
              </div>

              <div class="input-wrap">
                <input
                        id="signup_password"
                        name="signup_password"
                  type="password"
                  minlength="4"
                  class="input-field"
                  autocomplete="off"
                  required
                />
                <label>Password</label>
              </div>

              <input type="submit" value="Sign Up" class="sign-btn" />

              <p class="text">
                By signing up, I agree to the
                <a href="#">Terms of Services</a> and
                <a href="#">Privacy Policy</a>
              </p>
            </div>
          </form>
        </div>

        <div class="carousel">
          <div class="images-wrapper">
            <img src="../static/images/1.png" class="image img-1 show" alt="" />
          </div>

          <div class="text-slider">
            <div class="text-wrap">
              <div class="text-group">
                <h2>Choose Genre</h2>
              </div>
            </div>

            <div class="bullets">
              <span class="active" data-value="1"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Javascript file -->
  <script src="../static/js/app.js"></script>

  <script>
    document.getElementById('signInForm').addEventListener('submit', function(event) {
      // Prevent the default form submission
      event.preventDefault();

      // Get the values from the form
      var username = document.getElementById('username').value;
      var password = document.getElementById('password').value;

      // You can perform any validation here before redirecting
      // For now, let's just redirect to action.html
      // window.location.href = 'action.html';
    });
  </script>
</body>
</html>
